/node_modules/

echo "# ToDo_List_Node-Express-Ejs" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/DanielAlbuquerq/ToDo_List_Node-Express-Ejs.git
git push -u origin main 