#addInput{
    background-color: aqua;
    color: rgb(42, 165, 79);
    border-radius: 30px;
    outline: none;
    background: transparent;
}

button{
    border-radius: 50px;
    height: 40px;
    width: 40px;
}

.inputRequired::placeholder{
    border-radius: 40px;
    text-align: center;
    background-color: rgb(46, 165, 42);
}

#addInput::placeholder{
    border-radius: 40px;
    text-align: center;
    font-style: italic;
}

