.daniel{
    background-color: brown;
    width: 300px;
    height: 10px;
}

li > p{
    font-family: 'Gabarito', cursive;
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
}

.collapse h4{
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
}